@import "bootstrap-sprockets";
@import "bootstrap";

$lightslategrey: #789;
$lightgrey: #f7f7f7;
$grey: #808080;
$white: #fff;
$shadow-darkest: rgba(0, 0, 0, .48);
$shadow-dark: rgba(0, 0, 0, .5);
$shadow-light: rgba(0, 0, 0, .24);
$dark-blue: #37474f;

body {
  background: $lightgrey;
}

.mainbox {
  margin-top: 30px;
  font-weight: normal;

  .panel-body {
    padding-top: 25px;
  }

  .checkbox {
    margin-left: 10%;
  }
}

.card {
  background: $white;
  box-shadow: 0 3px 3px $shadow-darkest, 0 0 3px $shadow-light;
}

.article,
.user {
  min-height: 160px;
  margin: 0 4% 20px;
  padding: 10px 15px;

  .article-author {
    font-size: 1.4em;
    font-weight: bold;
  }

  %article-title {
    color: $dark-blue;
    text-align: center;
  }

  .article-content {
    margin: 5% 0 3%;
    font-size: 1.3em;
  }

  .article-show-title {
    @extend %article-title;
    font-size: 2.3em;
    font-weight: bold;
  }

  .article-likes {
    margin: 25px auto 15px;

    form {
      display: inline;
    }

    span {
      color: $lightslategrey;
      font-size: 1.5em;
    }

    .likes-count {
      display: inline;
      margin: auto 10px;
      color: $lightslategrey;
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

.article-form {
  width: 85%;
  padding: 20px;
}

.article-mode-show,
.user-mode-show {
  padding: 30px;
}

.header {
  background: $white;
  box-shadow: 0 2px 3px $shadow-darkest, 0 0 3px $shadow-light;
}

.side-menu {
  height: 200px;
  padding: 15px;
}

.custom-form-control {
  width: 300px;
  height: 35px;
  padding: 5px 15px;
  border: 0;
  border-radius: 0;
  font-size: 1.2em;
  box-shadow: 0 0 2px $shadow-dark;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px $shadow-dark;
  }
}

.wide {
  width: 100%;
}

.user-mode-show {

  .user-additional-data {
    margin: 5% 0;
    color: $lightslategrey;
    font-size: 1.4em;
  }

  .user-link-block {

    a {
      display: block;
      font-size: 1.2em;
    }
  }
}

.comment {
  margin-top: 2%;
  padding: 0 2%;

  .comment-author {
    font-size: 1.3em;
    font-weight: bold;
  }

  .comment-time {
    margin: 0 10px;
    color: $grey;
    font-size: 1.2em;
  }

  .comment-text {
    margin-top: 2%;
    font-size: 1.2em;
  }
}

.comment-form {
  margin-top: 5%;
  padding: 0 2%;

  p {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.sort-form {
  margin-bottom: 10%;

  .btn-sort {
    width: 99%;
    margin-top: 10%;
  }
}

.pagination-block {
  margin: 4% 0;
  text-align: center;
}

