@import 'bootstrap';

#logo {
  font-size: 1.7em;
  color: lightslategrey;
  font-weight: bold;
  text-align: center;
}

.alert-notice {
  @extend .alert-info
}

.alert-alert {
  @extend .alert-warning
}

.mainbox {
  font-weight: normal;
  margin-top: 30px;

  .form_additional_links {
    float: right;
    position: relative;
    font-size: 0.95em;
    top: -20px;
  }

  .panel-body {
    padding-top: 25px;
  }

  .checkbox {
    margin-left: 10%;
  }

  .form_input {
    margin-top: 5%;
    margin-bottom: 25px;
  }
}